<!DOCTYPE html>
<html>
<head>
    <title>Greeting</title>
</head>
<body>
<h1>Hello Professor</h1>
<img src="/spring.png" alt="Logo">
<p>
    <strong>What is Spring Boot?</strong><br>
    Spring Boot is a framework built on top of the Spring Framework that simplifies the development of production-ready applications.
    It provides embedded servers, autoconfiguration, and a range of tools to help developers get started quickly without extensive setup.
</p>

<p>It makes creating standalone, production-grade Spring-based applications easier than ever.</p>

<footer>
    <p>Name: Mohammad Fateh Naeem<br>
        Student ID: 70281<br>
        Email: <a href="mailto:mnaeem1@stu.vistula.edu.pl">mnaeem1@stu.vistula.edu.pl</a></p>
</footer>

</body>
</html>
